/* 
NOTES:
Jeffery (me) is really badly colorblind.
please try to avoid using both red and green unless you HAVE to.
*/



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 0px; /* Consistent spacing between buttons */
}


#clear-tags {
  border: none;
  border-radius: 15px;
  border-width: 0;
  box-sizing: border-box;
  background-color: darkolivegreen;
  color: white;
  cursor: pointer;
  font-family: 'Poppins',"Gill Sans", sans-serif;
  font-size: 200%;
  outline: none;
  padding: 10px;
  position: relative;
  text-align: center;
  text-transform: none;
  width: auto;
  align-items: center; /* keeps it in the header!!!!*/

}

#clear-tags:hover {
    text-decoration: underline;
    color: black;
}

a[href=""] {
     /* the all post button lol*/
    border-radius: 10px;
    border: none;
    color: black;
    text-decoration: none;  
    /*
    This is like a bookmark or post-it.
    It hangs out the edge like a book. Also stylistic ^_^
    all posts
    */ 
    border-radius: 5px; 
    font-family: 'Poppins',"Gill Sans", sans-serif;
    font-size: 200%;   
    filter: drop-shadow(7px 7px black);
    background-color: yellow;
 
    padding: 25px;
    padding-top: 100px;
    padding-bottom: 25px;
  }

a[href=""]:hover {
    text-decoration: underline;
    color: black; 
 }
 a[href=""]:active {
    transform: scale(1.25);
 }
 
#add-tag {
    border: none;
    align-content: center;
    background-color: transparent; 
   
    cursor: pointer;
    font-family: 'Poppins',"Gill Sans", sans-serif;
    font-size: 200%;    
 
    border-width: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    text-transform: none;
    width: auto;
    color: #fff;
    outline: none;
    padding-top: 20px;
    padding: 5px;
    /*T R B L*/
    /* You need this so the buttons dont keep swapping sizes as tags are being created */
  }
  
  #add-tag:hover {
    text-decoration: underline;
    color: black; 
  }


body, html {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    background-color: darkolivegreen;
    height: 140px; /* Set a fixed height bc otherwise it flies off */
    /*
    DO NOT PUT OVERFLOW! IT WILL CUT OFF THE DROPDOWN LIST OTEHRWISE!!!
    */
}

nav ul {
    list-style: square;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none; 
    /*
    gets rid of bullet points here
    */
}

nav ul li {
    padding: 0 20px;
    justify-content: space-between;
    align-content: center;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-family: "Gil Sans", sans-serif;
    align-content: center;
}

#tag-dropdown {
    border: none;
    background-color: darkolivegreen;
    font-family: 'Poppins',"Gill Sans", sans-serif;
    font-size: 190%;    
    border-radius: 15px;
    border-width: 0;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    margin: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    width: auto;
    align-content: center;
}



#tag-list {
    gap: 5px; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
    border-radius: 10px;
    text-align: center;
    align-items: center;
} 

tag-element {

    display: block;
    padding: 0px;
    /* height: 100px; */
    padding-bottom: 0px;
    font-family: 'Poppins',"Gill Sans", sans-serif;
    font-size: 70%;    
    text-align: center;
    filter: drop-shadow(7px 7px black);
    border-radius: 5px;
    margin: 0 5px;
    max-width: inherit;
    line-height: 1;
    margin-top: 15px;
  

}


/* tag-element:before {
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 40px 20px;
    border-color: transparent transparent transparent transparent;
  } */

#create-post {
   
    padding-top: 25px;
    cursor: pointer;
    background-color: darkolivegreen;
    color: white;
    border-radius: 220px;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Poppins',"Gill Sans", sans-serif;
    font-size: 200%;
}
#create-post:hover {
    text-decoration: underline;
    color: black; 
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px; 
}

.post {
    border: 4px solid black;

    padding: 20px;
    display:inline-grid;
    grid-column-gap:0px;
    grid-row-gap: 5px;
    grid-template-columns: 40% 40% 20%;
    background-color: rgb(254,255,156);
    border-radius: 15px;
    /*ring around the while post */

    font-weight: bold;
    font-size: 150%;
    font-family: 'Neucha','Poppins',"Gill Sans", sans-serif;
}

.post h2 {
    margin-bottom: 10px;
}

.post p {
    color: #666;
}


.time{
    font-size: 130%;
    font-family: "Neucha";
    /*
    June 8
    */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.content{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    text-wrap: stable;
    word-wrap: break-word;
    word-break: break-all;
    background-color: ADD8E6;

    text-align: left;

    border-radius: 9px !important;
    padding-left: 5px;
    
}

.header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    text-wrap: stable;
    word-wrap: break-word;
    word-break: break-all;
    background-color: white;
    font-family:   "Josefin Sans", sans-serif;
}


.leftButton{
    flex-shrink: 0;
    width:4em;
    height:4em;
    border-radius: 10px;
    flex: none;
    background-color: lightgoldenrodyellow;
    /* filter: drop-shadow(7px 7px black); */
    /* align-items: right; */
    /*
    create button 
    border-radius adds a border to the button, halfway
    no idea how, but it looks sick so we're keeping it
    */
}
    .leftButton:active{
        transform: scale(1.25);
    }


.rightButton{
    /* filter: drop-shadow(7px 7px black); */
    width: 4em;
    height: 4em;
    border-radius: 10px;
    flex: none;

    background-color: red;
    position: sticky;
    flex-shrink: 0;
    /* trash button */
}

.rightButton:active{
    position: sticky;
    transform: scale(1.25);
}


.flex{
    /* justify-content: flex-end; */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;

    float: right;
    display: flex; 
    flex-shrink: 0;
    justify-content: right;
}

.buttonIcon{
    width:100%; 
    height:100%;
    /*
    boxes are 36 by 36????? 
    icons are 256 by 256
    WIDTH HEIGHT ARE 100% SO THAT IT CAN BE CENTERED!!!
    */
}

#postList{
    display: grid;
    }





/* .content{
    
    
} */

.time{
    text-align: left;
}


.header{
    text-align: right;
    text-decoration: none;
   
}
.post .header{
   background-color:  rgba(254,255,156);
    text-align: right;
    font-size: 200%;
    font-family: "Neucha",'Poppins',"Gill Sans", sans-serif;
     /*
    New Post bold
    */
}

.post .content {
    text-align: left;
    /*
    Your text here
    */
    color: darkslategray;
    font-size: 150%;
    font-weight: lighter;
    font-family: 'Neucha','Poppins',"Gill Sans", sans-serif;
    word-wrap: break-word;
}

.content div {
    color: darkslategray;
    /* font-size: 100%; */
    font-weight: lighter;
    font-family: 'Neucha','Poppins',"Gill Sans", sans-serif;
    word-wrap: break-word;
}


/* 
<select style="display: none;" class="dropdownMenu"> */
.dropdownMenu{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.postTag{
    text-align: left;
    /*justify maysbe*/
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    word-wrap: break-word;
    /* visibility: hidden; */
    /* display: none; */
}

.header{
   border-radius: 9px !important;
   padding-right: 5px;

   /* background: rgb(232, 232, 232) ; */ 

}

.content{
    border-radius: 9px !important;
    padding-left: 5px;
    /* background: rgb(232, 232, 232) ; */
}